/* Format Paintert Active Logic */
.format-painter-active #app {
    cursor: copy !important;
    /* Force copy cursor over editor */
}

/* Button States */
.toolbar button.active {
    background-color: #f3f4f6;
    color: #4f46e5;
}

.toolbar button.locked {
    background-color: #fef3c7;
    color: #d97706;
    border-color: #fcd34d;
}

#format-painter-btn.active {
    animation: pulse-border 2s infinite;
}

@keyframes pulse-border {
    0% {
        box-shadow: 0 0 0 0 rgba(245, 158, 11, 0.4);
    }

    70% {
        box-shadow: 0 0 0 6px rgba(245, 158, 11, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(245, 158, 11, 0);
    }
}